#home{
    width: calc(100% - 15px);
    height: 90vh;
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.populares{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    width: 100%;
}

.pop{
    background-color: #15fbff54;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.347);
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pop-txt{
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 6px;
    padding-left: 15px;
    font-size: 20px;
} 

.p-musicas{
    width: 480px;
    height: 350px;
}

.pop ::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(94, 8, 155, 0.645);
    border-radius: 0px 20px 20px 0px;
    border-left: 2px solid rgba(0, 0, 0, 0.471);
    width: 11px;
}

.pop ::-webkit-scrollbar-thumb{
    background-color: rgb(239, 238, 238);
    height: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.779);
    border-radius: 0px 20px 20px 0px;
}

.p-artistas{
    width: 270px;
    height: 350px;
}

.p-podcast{
    width: 320px;
    height: 350px;
}