#musica{
    width: calc(100% - 15px);
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cantor{
    width: calc(100% - 15px);
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#podcast{
    width: calc(100% - 15px);
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.update{
    height: 99vh;
    width: 100%;
}