@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(home.css);
@import url(menu.css);
@import url(section.css);
@import url(tabela.css);
@import url(update.css);

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

:root{
    --fundo: linear-gradient(to bottom, #0087c1, #2384c3, #3780c4, #497cc4, #5878c3, #6574c1, #7170bf, #7c6bbb, #8865b6, #9360af, #9d59a8, #a6539f);

    --btn-excluir: linear-gradient(to left bottom, #ff4949, #f800b6);

    --btn-editar: linear-gradient(to left top, #44bff2, #8674fd);

}   

body{
    background: var(--fundo);
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

h1{
    color: white;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 45px;
    text-align: left;
}

.default-button{
    border: 2px solid white;
    background-color: transparent;
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 20px;
}

.btn1{
    background: var(--btn-editar) ;
}

.btn2{
    background: var(--btn-excluir);
}